{% extends 'PttBundle:Default:layout.html.twig' %}

{% import 'PttBundle:Default:sprites.html.twig' as sprites %}

{% block body %}
	{% set baseUrl = app.environment == 'dev' ? '/app_dev.php/' : '/' %}
	{% include 'PttBundle:Default:loader.html.twig' %}
	<div class="wrapper">
		{% include 'PttBundle:Default:sidebar.html.twig' %}
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 content">

						{% for flashMessage in app.session.flashbag.get('success') %}
						    <div class="alert alert-success">{{ flashMessage }}
						    <button type="button" class="close" data-dismiss="alert">×</button></div>
						{% endfor %}

						{% for flashMessage in app.session.flashbag.get('success_persist') %}
						    <div class="alert alert-success persist">{{ flashMessage }}
						    <button type="button" class="close" data-dismiss="alert">×</button></div>
						{% endfor %}

						{% for flashMessage in app.session.flashbag.get('error') %}
						    <div class="alert alert-danger">{{ flashMessage }}
						    <button type="button" class="close" data-dismiss="alert">×</button></div>
						{% endfor %}

						{% for flashMessage in app.session.flashbag.get('error_persist') %}
						    <div class="alert alert-danger persist">{{ flashMessage }}
						    <button type="button" class="close" data-dismiss="alert">×</button></div>
						{% endfor %}

						<div class="content">
						{% block content %}{% endblock %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}