@gray-dark: #414141;
@gray: #8c8c8c;
@gray-light:   #e5e5e5;
@gray-lighter: #f5f5f5;

@brand-primary: @gray-dark;
@brand-info: @blue;

@font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

//* links
@link-color: @blue;
@link-hover-color: @blue;
//@link-hover-decoration: none;

//* butons
@btn-default-color: @blue;
@btn-default-border: @gray-light;
@btn-font-weight: bold;

//@btn-default-bg: green;

/* inputs */
@input-group-addon-bg: @input-bg;
//@input-group-addon-border-color: transparent;

/* modal */
@border-radius-large: 1;

/* pagination */
@pagination-active-bg: @blue;
@pagination-active-border: @blue;

/*progressbar */
@progress-bar-bg: @blue;

/* general code of p,ul,li,span,etc. */

body{
	background: @white;
	color: @text;
}

a{
	font-weight: bold;
}

hr{
	height: 2px;
	border-color: #d0d0d0;
}
textarea{
	resize: none;
}

.login-button{
	cursor:pointer;
}

.no-float{
	> * {
		display:inline-block;
		float:none;
	
		&.top{
			vertical-align: top;
		}
		&.bottom{
			vertical-align: bottom;
		}
	}
}

.btn{
	white-space: normal;
	&:not(.btn-sm)&:not(.btn-xs){
		padding-left: @padding-base-horizontal*3;
		padding-right: @padding-base-horizontal*3;
	}
	&.btn-none{
		border:none;
		padding:0;
		background:none;
		color: @btn-default-color;
		&:hover,
		&:active,
		&:focus{
			text-decoration: underline;
		}
	}
	&.btn-default{
		&:hover,
		&:active,
		&:focus{
			background: @blue;
			color: @white;
		}
	}
	&:active, 
	&.active{
		.box-shadow(none);
	}
}
form.loading .btn.btn-none{
	border:none!important;
	background:none!important;
}

.form-control{
	&:hover,
	&:active,
	&:focus{
		border-color: @input-border;
		.box-shadow(none);
	}
}

.list-inline{
	margin-left: -15px;
	> li{
		padding-left: 15px;
		padding-right: 15px;
	}
	&.space-between-lines{
		margin-top: -10px;
		> li{
			margin-top: 10px;
		}
	}
	
	&.small-separation{
		margin-left: -5px;
		> li{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&.small-text{
		font-size: floor((100% * @font-size-small / @font-size-base));
	}
}