//colors
@blue: #4a90e2;
@text: #8c8c8c;
@white: #fff;
@red: #d9534f;

//padding between block
@padding-inner: 10px;


//medias
@mobile : ~"only screen and (min-width: 480px)";		// Vertical Big Mobile
@tablet : ~"only screen and (min-width: 767px)"; 		// Tablet
@desktop : ~"only screen and (min-width: 992px)";   	// Desktop small
@desktop-st : ~"only screen and (min-width: 1200px)";	// Desktop standard
@desktop-bg : ~"only screen and (min-width: 1600px)";	// Desktop big

@beforemobile : ~"only screen and (max-width: 479px)";   	// Before Vertical Big Mobile
@beforetablet : ~"only screen and (max-width: 766px)";   	// Before Tablet
@beforedesktop : ~"only screen and (max-width: 991px)";   	// Before Desktop small

@onlytablet: ~"only screen and (min-width: 767px and max-width: 991px)";   	// OnlyTablet