.content-block{
	background: #f1f1f1;
	.content{
		margin-top: 10px;
		h1,h2,h3,h4,h5,h6{
			color: #23282d;
		}
		.filters{
			background: #ddd;
			.filters-content{
				.form-group{
					margin-bottom: 5px;
					input{
						font-size: 12px;
						height: 28px;
					}
				}	
			}
		}
		.content-header,
		.filters .filters-header{
			overflow:hidden;
			
			h1,h2,h3,h4,h5,h6{
				.pull-left();
				margin-top:0;
			}

			.actions{
				.pull-right();
				
				margin-top: 2px;
				float:right;
				>*:not(:first-child){
					margin-left: 10px;
				}
			}
		}
		.content-inner{
			table{
				thead{
					svg{
						margin-right: 5px;
						.size(10px);
						path{
							fill: @blue;
						}
					}
				}
				tbody{
					.actions{
						text-align: right;
						>*:not(:first-child){
							margin-left: 5px;
						}
						svg{
							.size(16px);
							path{
								fill: @text;
							}
						}
					}
				}
			}
			.pagination-block{
				text-align: center;
			}
		}
	}
}