.sidebar{
	background: #23282d;
	//display:none;
	position:fixed;
	bottom:0;
	top:50px;
	z-index:200;
	left: -200px;
	width: 200px;
	min-width: 200px;
	overflow-y: auto;
	.transition(left 0.3s ease-out);
	&.active{
		left: 0px;
	}

	.display(flex);
	.flex-direction(column);
	.sidebar-inner{
		.flex-grow(1);
		.display(flex);
		.flex-direction(column);
		.menu-container{
			.flex-grow(1);
			h1,h2,h3,h4,h5,h6{
				color: #eee;
				padding: 5px (@grid-gutter-width / 2);
				margin:0;
				border-bottom: 1px solid #eee;
			}
		}
		.menu-container>ul,
		>ul{
			list-style: none;
			padding-left: 0px;
			>li{
				position:relative;
				&:hover{
					background: rgba(0,0,0,0.2);
					>a{
						color: @link-color;
						
						&:before{
							border-left-color: @link-color!important;
						}
					}
				}
				&.current-item-selected{
					background: @link-color;
					>a{
						color: #eee;
					}
				}
				a{
					display:block;
					padding: 6px (@grid-gutter-width / 2);
					font-weight: normal;
					text-decoration: none;
					color: #eee;
				}
				ul{
					background: #32373c;
					list-style: none;
					padding-left: 0;
					padding-bottom: 5px;
					li{
						&:hover{
							>a{

								color: @link-color;
							}
						}
						&.current-item-selected{
							>a{
								color: #eee;
								font-weight: bold;
							}
						}
						a{
							font-size: .9em;
							text-decoration: none;
							padding-left: @grid-gutter-width;
							color: #ddd;
						}
						>ul>li>a{
							padding-left: @grid-gutter-width * 1.5;
						}
					}
				} 
			}
		}
		span.copyright{
			padding: (@grid-gutter-width / 2);
			font-style: italic;
			text-align: center;
			font-size: .85em;
		}
	}
}

@media (min-width: @screen-md-min) {
	.sidebar{
		position:relative;
		left:auto;
		top:0;
		overflow-y: visible;
		.sidebar-inner{
			.menu-container>ul,>ul{
				li{
					&:not(.current-item-selected){
						position:relative;
						>ul{
							display:none;
							position:absolute;
							top:0;
							left: 100%;
							z-index: 100;

							//background: #23282d;
							li{
								position:relative;
								>a{
									padding-left: @grid-gutter-width / 2;
									min-width: 150px;
								}
								>ul>li>a{
									padding-left: @grid-gutter-width / 2;
								}
							}
						}
						&:hover{
							>ul{
								display:block;
							}
						}
					}
				}
			}
		}
	}
}