.backgroundStripes(@color : #999999, @rotation : 45deg){
    background: repeating-linear-gradient(
        @rotation,
        darken(@color, 30%),
        darken(@color, 30%) 10px,
        darken(@color, 33%) 10px,
        darken(@color, 33%) 20px
    );
}
.coordinates0(@absolute : true)
{
    & when (@absolute = true) {
        position: absolute;
    }
    & when (@absolute = false) {
        position: fixed;
    }
    .fit();
}
.fit()
{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center()
{
    .display(flex);
    .align-items(center);
    .justify-content(center);
}

.hide
{
    display: none !important;
}

.flex-expand-container(){
    .display(flex);
    &.multiple{
        .flex-wrap(wrap);
        .align-items(stretch);
    }
    &:not(.multiple){
        .flex-direction(column);
    }
}
.flex-expand-content(){
    .flex-grow(1);
}