.content-block.list{
	.content.ng-hide{
		display:none;
	}
	.filters{
		.filters-content{
			.form-group{
				margin-bottom: 5px;
				input,
				select{
					font-size: 12px;
					height: 30px;
				}
			}	
		}
	}
	.content-inner{
		table{
			thead{
				font-weight: bold;
				svg{
					margin-right: 5px;
					margin-top: 5px;
					.size(10px);
					path{
						fill: @blue;
					}
				}

			}
			tbody{
				tr.draggable{
					cursor: move; /* fallback if grab cursor is unsupported */
					cursor: grab;
					cursor: -moz-grab;
					cursor: -webkit-grab;
				}
				tr.draggable:hover,
				.chosen{
					background:#ddd;
				}
				.ghost {
				  opacity: 0.4;
				}
				.actions{
					text-align: right;
					>*:not(:first-child){
						margin-left: 5px;
					}
					
				}
			}
			.handle{
				width:30px;
			}
			svg{
				.size(18px);
				path{
					fill: @text;
				}
			}
		}
		.pagination-block{
			text-align: center;
		}
	}
}